<ion-view cache-view="false">
    
<div style="background-color: #d9d9d9;" class="bar bar-header">

<button class="button icon-left ion-chevron-left" ng-click="myGo()"></button>
  <h4 class="title">Listado</h4>
    
    <div class="buttons">
        <button class="button button-icon ion-more" ng-click="popover.show($event)">
        </button>
      </div>

   
        <script id="templates/popover.html" type="text/ng-template">
       <ion-popover-view class="fit">
        <ion-content>
          <div class="list">
             <a class="item" href="#/login" ng-click="closePopover()">
              <span class="ion-log-out"></span> Salir
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>

</div>

  <ion-content ng-init="cargar()">
           <div style="margin-top: 40px;">
        <ion-list>

        <ion-item item="item" ng-href="#/detalle/{{item.id}}" ng-click="" class="item-thumbnail-left" ng-repeat="item in listado.posts" ng-class="{ active: item.isActive}">
              <img ng-src="{{item.thumbnail}}">
              <h2> {{item.title}} </h2>
              <p>{{item.text}}</p>
            </ion-item>

       
        </ion-list>
</div>
  </ion-content>


</ion-view>

